
html, body { background-color: #fbf9d0; color: #333333; height: 100%; margin: 0; padding: 0; }

body { font-family: 'Nunito Sans', sans-serif; font-size: 18px; /* Fix for iframes sizing wrongly on iPhone Safari */ width: 1px; min-width: 100%; *width: 100%; text-align: center; }

a:link, a:visited, a:hover, a:active { color: #ff3333; text-decoration: underline; }

input, textarea { display: inline; font-family: 'Nunito Sans', sans-serif; margin-top: 5px; margin-bottom: 5px; padding: 5px; color: #222255; font-size: 18px; border: none; }

input[type=text], input[type=password], textarea { border: solid 1px #eee; }

h1 { font-family: 'Bevan', sans-serif; font-size: 3.7em; font-weight: 500; letter-spacing: -2px; line-height: 1em; margin-top: 10px; margin-bottom: 0; text-align: center; margin: 0; margin-top: 30px; color: #f10e0e; text-shadow: rgb(3, 3, 3) 4px 4px 4px; }
h2 { font-family: 'Bevan', sans-serif; font-size: 1.45em; font-weight: normal; letter-spacing: -2px; word-spacing: 3px; line-height: 1.2em; margin-top: 10px; margin-bottom: 0; text-align: center; margin: 0; margin-bottom: 30px; color: white; text-shadow: rgb(150, 150, 150) 1px 1px 1px; }

#titles, #getstarted, #mycouncil, #explainer, #about { padding: 15px; }
#titles h2 { text-shadow: rgb(3, 3, 3) 4px 4px 4px; }

.holder { text-align: left; width: 100%; max-width: 650px; padding: 0px; margin: 0 auto; padding-bottom: 30px; padding-top: 30px;  }

#titles { background: url(images/banker2.jpg) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }

#getstarted { text-align: center; }
#getstarted h2 { color: #f10e0e; }
#postcode { width: 200px; max-width: 60%; padding: 12px; padding-left: 15px; padding-right: 15px; font-size: 18px; }
#postcodeerror { font-size: 12px; color: #999; }
#getstarted form { text-align: center; }
#getstarted button { -webkit-appearance: none; font-family: 'Bevan', sans-serif; padding: 5px; padding-left: 15px; padding-right: 15px; color: #fff; font-size: 18px; cursor: pointer; border: 0; text-decoration: none; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; margin-right: 10px; line-height: 40px; outline: none; }
#gobutton { display: inline; background: #f10e0e; }
#gobutton:disabled { background: #ccc; cursor: not-allowed; }

#mycouncil {}

#explainer { background: url(images/cloudy_sky2.jpg) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }
#explainer .holder { text-align: center; }
#explainer h2, #explainer a { color: black; }
#explainer iframe { margin: 0 auto; width: 560px; height: 315px; max-width: 100%; max-height: 40%; }

#about { font-size: 0.7em; color: #999; }
#about .holder { text-align: center; padding-top: 0; padding-bottom: 0; }
#logo { display: block; margin-top: 10px; }

.unslider-nav { margin-top: -12px; }

#slidingpanel { width: 1200px; }
.panel { margin-right: 60px; float: left; width: 350px; padding-left: 5px; padding-right: 5px; margin-right: 50px; }


@media (min-width: 721px) { 
  
}
@media (max-width: 720px) { 
	
}

